html {
  background-color: #f1f2f6;
}

.profile-page-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  margin: 0 auto;
  background: #f1f2f6;
  overflow: hidden;
  width: 100%;
  gap: 20px;
}

.left-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 10px;
  width: 288px;
  min-width: 240px;
  height: 80vh;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}

.right-pane {
  margin: 0 10px 0 0;
  width: 1008px;
  height: 80vh;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}
.profile-image-container {
  display: flex;
  flex-direction: column;
  margin: 12px 0 0;
  width: 100%;
  max-width: 200px;
  gap: 12px;
}
.profile__image {
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.profile__image-button {
  display: flex;
  gap: 5px;
}

.profile__appointment-button {
  width: 200px;
  height: 100px;
}

@media (max-width: 768px) {
  .profile-page-page {
    flex-direction: column;
    height: auto;
  }

  .left-pane {
    margin: 10px 0 0;
    flex-direction: row;
    max-width: 600px;
    width: 95%;
    min-height: 240px;
    max-height: 240px;
    gap: 12px;
  }

  .right-pane {
    margin: 0 0 10px;
    max-width: 540px;
    width: 90%;
    min-height: 400px;
    height: auto;
  }

  .profile-image-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
    width: 100%;
    max-width: 150px;
    gap: 12px;
  }
  .profile__image {
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (max-width: 599px) {
  .profile-page-page {
    height: auto;
  }
}

@media (max-width: 425px) {
  .profile__appointment-button {
    font-size: 14px;
    width: 120px;
    height: 200px;
  }
  .left-pane {
    gap: 6px;
  }
}
