.donate-page-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 68.5px);
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  gap: 20px;
}

.donate-left-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 10px;
  width: 288px;
  min-width: 240px;
  min-height: 60vh;
  height: auto;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}

.donate-right-pane {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  width: 700px;
  min-height: 60vh;
  height: auto;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}
