.dashboard__content {
  width: calc(100% - 250px);
  max-height: calc(100vh - 68.5px);
  overflow: hidden;
}

.dashboard__widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
  margin: 40px;
  height: fit-content;
}

.dashboard__chart {
  display: flex;
  margin: 0 60px;
  background-color: aquamarine;
  max-width: 983px;
  max-height: 450px;
}

@media (max-width: 899px) {
  .dashboard__content {
    width: 100%;
  }
  .dashboard__widgets {
    justify-content: center;
    margin: 0;
  }
  .dashboard__chart {
    margin: 0 20px;
    justify-content: center;
  }
}
