@import "./fonts/fonts.css";

html {
  min-height: 100vh;
  background-color: #f1f2f6;
  background-image: url('./images/heart.svg');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: center;

}

.App {
  font-family: "Roboto", sans-serif;
}